# This helps suppress peer dependency warning coming from Storybook
# Once @storybook/addon-ondevice-actions and @storybook/addon-ondevice-controls
# update to 7.x.x, then we could set this back to false.
legacy-peer-deps=true
git-tag-version=false