{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 2,
  "printWidth": 140,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrow-parens": "always",
  "quoteProps": "consistent",
  "endOfLine": "lf",
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "^react$",
    "^react-native$",
    "^react-native-reanimated$",
    "^expo",
    "^@react-navigation$",
    "^mobx",
    "^react-native",
    "^@react",
    "^@shopify",
    "^@gorhom",
    "^@baazi-games",
    "^@components$",
    "^@config",
    "^@services",
    "^@utils",
    "^@models",
    "^@screens",
    "^@navigators",
    "^@storybook",
    "@faker",
    "^@",
    "^[a-z]",
    "^\\.\\./",
    "^\\./",
    ".styles$"
  ]
}
